body {
  font-family: Proxima;
}

button {
  background: none;
  color: white;
}

.button_empty {
  -webkit-transform: skew(170deg);
  transform: skew(170deg);
  border: 2px solid #ffffff;
  padding: 14px 44px 14px 44px;
  font-weight: bold;
  text-transform: uppercase;
}

.button_empty span {
  display: block;
  -webkit-transform: skew(-170deg);
  transform: skew(-170deg);
}

.button_empty:hover {
  cursor: pointer;
  background: white;
  color: black;
}

.title {
  color: white;
  font-size: 40px;
  font-weight: 700;
}

a {
  color: white;
  text-decoration: none;
}

li {
  list-style: none;
}

.main {
  color: white;
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main-content {
  width: 90%;
}

.header {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 2vh;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav a {
  padding-right: 1vw;
}

.header-logo {
  font-size: 24px;
  font-weight: bold;
}

.header-last {
  display: flex;
  width: 10%;
  justify-content: space-around;
  align-items: center;
}

.header-last__cart {
  padding-right: 1vw;
}

.content {
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
  padding-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-title {
  font-size: 80px;
  max-width: 80%;
  font-weight: 700;
}

.content-desc {
  padding-top: 5vh;
  font-size: 13px;
}

.content-button {
  margin-top: 5vh;
}

.light {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #1c1c1c;
}

.light-wrapper {
  padding-top: 20vh;
  padding-bottom: 20vh;
  overflow: visible;
  background: url("../img/dron.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 100% center;
  width: 90%;
}

.light-title {
  padding-bottom: 5vh;
}

.light-desc {
  color: #6e6e6e;
  font-size: 14px;
  max-width: 40%;
  line-height: 5vh;
  padding-bottom: 5vh;
}

.play {
  padding-top: 30vh;
  padding-bottom: 30vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: url("../img/play_bg.png");
  background-size: cover;
  background-position: center;
}

.play-content__button {
  font-size: 100px;
  color: white;
}

.prevArrow {
  font-size: 40px;
  color: white;
  padding-left: 5vw;
}

.nextArrow {
  padding-right: 5vw;
  color: white;
  font-size: 40px;
}

.service {
  background: #1c1c1c;
  padding-top: 10vh;
  padding-bottom: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.service-desc {
  text-align: center;
  padding-top: 2vh;
  color: #6e6e6e;
  font-size: 13px;
  max-width: 40%;
  font-weight: 400;
  line-height: 4vh;
}

.service-blocks {
  padding-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.service-block {
  max-width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.service-block__title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25px;
  color: white;
  padding-top: 5vh;
  padding-bottom: 2vh;
}

.service-block__desc {
  color: #6e6e6e;
  font-size: 14px;
  line-height: 3.5vh;
}

@font-face {
  font-family: 'Proxima';
  src: url("../fonts/ProximaRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima';
  src: url("../fonts/ProximaBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@media screen and (max-width: 820px) {
  .header {
    justify-content: space-between;
  }

  .header-last {
    padding-right: 10vw;
  }

  .header-nav {
    display: none;
  }
}

@media screen and (max-width: 525px) {
  .content-title {
    font-size: 50px;
  }
}