* {
  font-family: OpenSans;
}

input,
button {
  outline: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  background: none;
}

.button_full {
  border: 0;
  border-radius: 30px;
  background-image: linear-gradient(to right, #001dff 0%, #01fafd 100%);
  color: white;
  padding: 20px 80px;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 0 15px 20px #c4dfff;
}

.button_empty_blue {
  border: 2px solid #01f5fd;
  border-radius: 30px;
  padding: 10px 80px;
  text-transform: uppercase;
  color: #0c0e37;
  font-weight: bold;
  box-shadow: 0 15px 20px #c4dfff;
}

.button_empty {
  border: 2px solid white;
  border-radius: 30px;
  padding: 20px 100px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}

.main {
  height: 100vh;
  width: 100%;
  background-image: url("../img/bg_header.png");
  background-repeat: no-repeat;
  background-size: calc(contain + 100px);
  background-position: calc(100% + 80px) top;
}

.header {
  padding-top: 5vh;
  display: flex;
  justify-content: space-between;
}

.header-left {
  padding-left: 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-lang {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  width: 5vw;
}

.header-logo {
  margin-right: 4vw;
  display: flex;
  align-items: center;
  color: #0c0e37;
  text-transform: uppercase;
  font-weight: bold;
}

.header-logo img {
  margin-right: 1vw;
}

.header-nav {
  font-weight: 700;
}

.header-nav ul {
  display: flex;
  align-items: baseline;
}

.header-nav ul li {
  list-style: none;
}

.header-nav ul li a {
  color: white;
  margin-left: 3vw;
}

.header-nav_last {
  margin-left: 5vw;
  margin-right: 5vw;
}

.hero {
  padding-top: 20vh;
  padding-left: 10vw;
}

.hero-title {
  font-weight: 700;
  color: #0c0e37;
  font-size: 31px;
  max-width: 40%;
}

.hero-desc {
  padding-top: 5vh;
  padding-bottom: 5vh;
  color: #0c0e37;
  font-size: 16px;
  max-width: 40%;
}

.hero-buttons {
  width: 100%;
  display: flex;
  padding-bottom: 5vh;
}

.hero-buttons .button_full {
  margin-right: 2vw;
}

.hero-partners {
  text-transform: uppercase;
  font-size: 12px;
  color: #0c0e37;
  opacity: 0.7;
  font-weight: 700;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
