@font-face 
    font-family: 'Proxima'
    src: url('../fonts/ProximaRegular.ttf') format('truetype')
    font-weight: normal
    font-style: normal

@font-face 
    font-family: 'Proxima'
    src: url('../fonts/ProximaBold.ttf') format('truetype')
    font-weight: bold
    font-style: normal

